@model Gym_Membership.Models.ChangePasswordViewModel
@using session = Gym_Membership.Helpers.UserSession;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    @Styles.Render("~/Content/changepassword")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>ChangePasswordViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@
    
    <!-- here -->
    <div class="container" style="margin-top:200px">

      @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @id = "changepassword" }))
    {
        @Html.AntiForgeryToken()

            <div class="header">

                <h3>Change your password</h3>

                <p>Change your password to continue</p>

            </div>

          if (Model.ValidationErrors.Count > 0)
          {
            <div class="errors">
                <ul>
                    @foreach(var err in Model.ValidationErrors)
                    {
                        <li class="text-danger">@err</li>
                    }
                </ul>            
    
            </div>
              
              
          }

            <div class="inputs">
                <input type="hidden" name="Username" value="@session.Current.Username" />

                <input type="hidden" name="OldPassword" value="@session.Current.EncryptedPassword" />

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Enter new password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @placeholder = "Re-Enter new password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })


                @*<div class="checkboxy">
                    <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the terms of use</label>
                </div>*@

                <input type="submit" class="btn btn-primary" value="Change Password" />

            </div>

      }

    </div>
    ​



</body>
</html>
