@model Gym_Membership.Models.LoginState

@{
    Layout = null;
    var browser = Request.Browser.Browser + Request.Browser.MajorVersion;
    var browser_type = Request.Browser.Browser;
    var browser_version = Request.Browser.MajorVersion;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico?v=2")" />

    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
    @if (Gym_Membership.Helpers.ConfigurationHelper.GetEnvironment() == "BIZ")
    {
        @Styles.Render("~/Content/biz-css")

    }




</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
@if (Gym_Membership.Helpers.ConfigurationHelper.GetEnvironment() != "BIZ")
    {

    <img src="@Url.Content("~/Images/logo/LogoFitness.png")" />
        <div>Space<span>Gym</span>     
        
        </div>
}
    </div>
    <br>
    <div class="login">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login", id = "login", role = "form" , autocomplete="off" }))
                    {

        <input type="hidden" class="form-control" name="Browser" id="Browser" value="@browser">
        <input type="text" placeholder="Username" name="Username" />
        <input type="password" placeholder="Password" name="Password" />
        <input type="submit" value="Sign In" />

    if (Model.LoginStateValue != Gym_Membership.Models.LoginState.LoginStateEnum.Not_Set)
    {
        <p class="text-center" style="color:yellow">@Model.LoginStateValue.ToString().Replace('_', ' ') </p>
    }
                    }
        @*<input type="text" placeholder="username" name="user"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="button" value="Login">*@
    </div>

   


    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $('.forgot-pass').click(function (event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function (event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
        });
    </script>

</body>
</html>
